.task__main__time {
  font-family: SemiBold;
  font-size: 12px;
  color: var(--primary500);
}

.task__main__time__done {
  color: #fff;
}

.task__main__time span {
  margin-right: 4px;
}

@media (min-width: 651px) {
  .task__main__time {
    font-size: 13px;
  }
}
