.task__main__time {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: SemiBold;
  font-size: 12px;
  color: #986683;
}

.task__main__time span {
  margin-right: 5px;
}

.task__main__time__done {
  filter: brightness(145%);
}
