.task-list__content {
  display: flex;
  flex-direction: column;
}

.task-list__empty {
  margin-top: 40px;
  text-align: center;
  color: var(--subtext);
}

.task-list__empty h3 {
  margin: 10px 0;
  font-family: SemiBold;
  font-size: 18px;
}

.task-list__empty p {
  margin: 5px 0;
  font-family: Light;
  font-size: 15px;
}
