.new-task__form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border: none;
  border-radius: 40px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.4),
    inset 0 2px 4px rgba(255, 255, 255, 0.2);
  font-family: SemiBold;
  font-size: 28px;
  background-color: #532c44;
  color: var(--subtext);
  cursor: pointer;
}

#light .new-task__form__btn {
  background-color: #3e1d30;
  color: #fbc3e4;
  box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.3),
    inset 0 2px 10px rgba(40, 20, 32, 0.6);
}
