.banner {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--primary400);
  text-align: center;
}

.banner__title {
  font-family: Bold;
  font-size: 32px;
}

.banner__subtitle {
  font-family: Regular;
  font-size: 15px;
  color: var(--subtext);
}

@media (min-width: 651px) {
  .banner__title {
    font-size: 38px;
  }
  .banner__subtitle {
    font-size: 16px;
  }
}
