.new-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10% 5%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  animation: showUp 0.3s ease-in forwards;
}

#light .new-task {
  background-color: var(--primary50);
}

.new-task h2 {
  font-family: Bold;
  font-size: 42px;
}

.new-task p {
  font-family: Light;
  color: var(--subtext);
}

.new-task__form {
  width: 100%;
  margin-top: 10px;
}

.new-task__form__item,
.new-task__form__item--invalid {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
  padding: 2.5% 5%;
  text-align: center;
}
.new-task__form__deadline {
  flex-direction: row;
}

.new-task__form__item label,
.new-task__form__item--invalid label {
  margin-bottom: 10px;
  font-family: Medium;
  font-size: 17px;
  color: var(--text);
}

.new-task__form__item input,
.new-task__form__item--invalid input {
  display: block;
  padding: 0 4%;
  background-color: var(--primary500);
  box-shadow: 0 0 6px var(--primary500);
  border: none;
  border-radius: 12px;
  font-family: Regular;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #fbc3e4;
  resize: none;
}

.new-task__form__item--invalid input {
  background-color: rgba(242, 42, 79, 0.3);
  box-shadow: 0 0 6px rgba(242, 42, 79, 0.6);
}

.new-task__form__item__deadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#task-form-time,
#task-form-date {
  height: 50px;
}

#task-form-time {
  flex-basis: 35%;
  margin-right: 15px;
}

#task-form-date {
  flex: 1;
}

.new-task__form__item .form-warning,
.new-task__form__item--invalid .form-warning {
  margin-top: 10px;
  font-size: 13px;
  color: var(--hiddentext);
}

.new-task__form__actions {
  display: flex;
  width: 70%;
  margin: 50px auto 0;
}

@media (min-width: 651px) {
  .new-task {
    padding: 0 10%;
  }
  .new-task h2 {
    font-size: 48px;
  }
  .new-task p {
    font-size: 18px;
  }
  .new-task__form__item label,
  .new-task__form__item--invalid label {
    margin-bottom: 12px;
    font-size: 19px;
  }
  .new-task__form__item input,
  .new-task__form__item--invalid input {
    border-radius: 16px;
    font-size: 18px;
  }
  .new-task__form__item .form-warning,
  .new-task__form__item--invalid .form-warning {
    margin-top: 12px;
    font-size: 14px;
  }
}

@media (min-width: 800px) {
  .new-task {
    padding: 0 15%;
  }
}

@media (min-width: 1024px) {
  .new-task {
    padding: 0 20%;
  }
}

@media (min-width: 1440px) {
  .new-task {
    padding: 0 25%;
  }
}

@media (min-width: 1600px) {
  .new-task {
    padding: 0 30%;
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
