.task__grabbox {
  position: relative;
  flex-basis: 20px;
  height: 13px;
  cursor: grab;
}

.task__grabbox__bar1,
.task__grabbox__bar2,
.task__grabbox__bar3 {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 1px;
  background-color: var(--subtext);
}

.task__grabbox__bar1 {
  top: 0;
}
.task__grabbox__bar2 {
  top: 50%;
  transform: translateY(-1px);
}
.task__grabbox__bar3 {
  top: 100%;
  transform: translateY(-2px);
}
